* {
  box-sizing: border-box;
}

.column1 {
  float: left;
  width: 60%;
  height: 650px; 
}

.column2 {
  float: left;
  width: 40%;
  height: 650px;
  overflow: fit-content;
}

.placecard {
  position: relative; 
  width: 550px;
  height: 110px; 
  background: #D9D9D9;
  border-radius: 5px;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

.placecard-name {
  position: absolute; 
  top: 0; 
  left: 120px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  /* text-align: center; */
  width: 100%; 
  padding: 5px 0; 
}

.placecard-image {
  width: 110px; 
  height: 110px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.placecard-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}



.placecard-status {
  gap: 10px;
  height: 27px;
  display: flex;
  padding: 4px 8px;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}

.placecard-text1 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.placecard-category {
  gap: 10px;
  height: 27px;
  display: flex;
  padding: 4px 8px;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}

.placecard-text2 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.placecard-capacity {
  gap: 10px;
  height: 27px;
  display: flex;
  padding: 4px 8px;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}

.placecard-text3 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.placecard-distance {
  gap: 10px;
  display: flex;
  padding: 4px 8px;
  align-items: flex-start;
  border-radius: 20px;
  justify-content: center;
}

.placecard-text4 {
  position: absolute; 
  top: 40px; 
  left: 400px;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  width: 100%; 
  padding: 5px 0; 
}
.placecard-address {
  gap: 10px;
  display: flex;
  padding: 4px 8px;
  align-items: flex-start;
  border-radius: 20px;
  justify-content: center;
}

.placecard-text5 {
  position: absolute; 
  top: 75px; 
  left: 120px;
  font-size: 10px;
  font-family: Inter;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  width: 100%; 
  padding: 5px 0; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.NavBar{
  display: inline-flex;
padding: 0.90625rem 31rem 0.71875rem 1.625rem;
align-items: flex-start;
gap: 1.125rem;
}

.Navbutton {
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 2.5rem;
  background: var(--neutral-white, #F7F6F6);
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}